/*
  Name:       vc64dark
  Author:     Mattia Astorino (http://github.com/equinusocio)
  Website:    https://vc64dark-theme.site/
*/

.cm-s-vc64dark.CodeMirror {
  background-color: var(--darkbg);
  color: #EEFFFF;
}

.cm-s-vc64dark .CodeMirror-gutters {
  background: var(--darkbg);
  color: #546E7A;
  border: none;
}

.cm-s-vc64dark .CodeMirror-guttermarker,
.cm-s-vc64dark .CodeMirror-guttermarker-subtle,
.cm-s-vc64dark .CodeMirror-linenumber {
  color: #546E7A;
}

.cm-s-vc64dark .CodeMirror-cursor {
  border-left: 1px solid #FFCC00;
}

.cm-s-vc64dark div.CodeMirror-selected {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-vc64dark.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-vc64dark .CodeMirror-line::selection,
.cm-s-vc64dark .CodeMirror-line>span::selection,
.cm-s-vc64dark .CodeMirror-line>span>span::selection {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-vc64dark .CodeMirror-line::-moz-selection,
.cm-s-vc64dark .CodeMirror-line>span::-moz-selection,
.cm-s-vc64dark .CodeMirror-line>span>span::-moz-selection {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-vc64dark .CodeMirror-activeline-background {
  background: var(--dark);
}

.cm-s-vc64dark .cm-keyword {
  color: #659dd4;
}

.cm-s-vc64dark .cm-operator {
  color: #d4d4d4;
}

.cm-s-vc64dark .cm-variable-2 {
  color: #a9dbfc;
}

.cm-s-vc64dark .cm-variable-3,
.cm-s-vc64dark .cm-type {
  color: #f07178;
}

.cm-s-vc64dark .cm-builtin {
  color: #FFCB6B;
}

.cm-s-vc64dark .cm-atom {
  color: #F78C6C;
}

.cm-s-vc64dark .cm-number {
  color: #c19177;
}

.cm-s-vc64dark .cm-def {
  color: #ddd9ac;
}

.cm-s-vc64dark .cm-string {
  color: #c5947a;
}

.cm-s-vc64dark .cm-string-2 {
  color: #f07178;
}

.cm-s-vc64dark .cm-comment {
  color: #759458;
}

.cm-s-vc64dark .cm-variable {
  color: #72c3b0;
}

.cm-s-vc64dark .cm-tag {
  color: #FF5370;
}

.cm-s-vc64dark .cm-meta {
  color: #FFCB6B;
}

.cm-s-vc64dark .cm-attribute {
  color: #C792EA;
}

.cm-s-vc64dark .cm-property {
  color: #a9dbfc;
}

.cm-s-vc64dark .cm-qualifier {
  color: #DECB6B;
}

.cm-s-vc64dark .cm-variable-3,
.cm-s-vc64dark .cm-type {
  color: #DECB6B;
}


.cm-s-vc64dark .cm-error {
  color: rgba(255, 255, 255, 1.0);
  background-color: #FF5370;
}

.cm-s-vc64dark .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: var(--warning) !important;
}